<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>badminton</string>
	<string>baseball</string>
	<string>basketball</string>
	<string>fitness</string>
	<string>football</string>
	<string>golf</string>
	<string>hockey</string>
	<string>soccer</string>
	<string>tennis</string>
	<string>yoga</string>
</array>
</plist>
